<div class="card bg-light">
      <div class="row no-gutters">
        <div class="col-md- d-flex align-items-center p-4 ">
          {{#if dayTime}}
          <i class="wi wi-owm-{{icon.weatherIcon}} display-4"></i>
          {{else}}
          <i class="wi wi-owm-night-{{icon.weatherIcon}} display-4"></i>
          {{/if}}
          <span class="display-3 ml-3">
            {{weatherInfo.temp}}
            <i class="wi wi-celsius display-4"></i>
          </span>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title display-4">{{weatherInfo.name}}</h5>
            <p class="display-5 desc">{{weatherInfo.desc}}</p>
            <ul class="list-group">
              <li class="text-danger" >Max : {{weatherInfo.max}} <i class="wi wi-celsius"></i>
              </li>
              <li class="text-primary" >Min : {{weatherInfo.min}} <i class="wi wi-celsius"></i>
              </li>
              <li class="text-secondary" >Humidity : {{weatherInfo.humidity}}
                <i class="wi wi-humidity"></i>
              </li>
              <li class="d-flex align-items-center text-info">
               <span>Wind : {{weatherInfo.windSpeed}}</span>
               <i class="wi wi-wind from-{{icon.windIcon}}-deg display-4 ml-2"></i>
              </li>
              <li class="text-warning">
                <span><i class="wi wi-sunrise"></i></span>
                Sunrise : {{weatherInfo.sunrise}}
                </li>
                 <li class="sunset">
                <span><i class="wi wi-sunset "></i></span>
                Sunset : {{weatherInfo.sunset}}
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>